@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@import '@skeletonlabs/skeleton'; 
@import '@skeletonlabs/skeleton-svelte'; 
@import '@skeletonlabs/skeleton/themes/cerberus'; /* @import '@skeletonlabs/skeleton'; */
@import '@skeletonlabs/skeleton/themes/crimson';

/* Ensure full viewport height */
html, body {
	height: 100%;
	overflow: hidden;
}

/* Disable double-tap zoom */
* {
	touch-action: manipulation;
}

/* TMP WINDOWS FIX 
*/
.select,
.input,
.textarea {
	background-color: var(--color-surface-50-950);
	color: var(--color-surface-950-50);
}